<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout-2</title>
        <link rel="stylesheet" type="text/css" href="cssfolder/style-2.css">
    </head>
    <body>
        <div class="div">
            <span class="circle circle-1"></span>
            <span class="circle circle-2"></span>
            <span class="circle circle-3"></span>
            <div class="common div-1">div 1</div>
            <div class="common div-2">div 2</div>
            <div class="common div-3">div 3</div>
        </div>
    </body>
</html>