.div{
    height:500px;
    width:70%;
    border:5px solid grey;
    border-top:40px solid grey;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display:flex;
    font-size:13px; 
}
.circle{
    width:12px;
    height:12px;
    border-radius:50%;
    position:absolute;
    top:23px;
}
.circle-1{
    background:red;
    left:23px;
}
.circle-2{
    background:yellow;
    left:43px;
}
.circle-3{
    background:rgb(29, 189, 29);
    left:63px;
}
.div-1{
    height:400px;
    width:180px;
    color:white;
    background:rgb(102, 105, 105);
}
.div-2{
    height:170px;
    width:150px;
    background:black;
    color:white;
    margin-left:-75px;
    margin-top:230px;
}
.div-3{
    height:100px;
    width:120px;
    background:rgba(185, 179, 179, 0.486);
    color:white;
    margin-top:350px;
    margin-left:-195px;
}